:root {
 --primary-color: #212121;
 --second-color: #757575;
 --third-color: #FFFFFF;
 --fourth-color: #F5F4FA;
 --active-color: #2196F3;
 --icon-color: #afb1b8;

 --light-background-color: #C4C4C4;
 --dark-background-color: #2F303A;
 --hero-button-background-active-color: #188CE8;
 
 --address-link-color: rgba(255, 255, 255, 0.6);
 --transition-durat-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    background-color: var(--third-color);
}

h1, h2, h3, h4, h5
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* ######### HEADER START ######### */
.page-header
{
    border-bottom: 1px solid #ECECEC;
}

.container-header {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}
.navigation div {
    margin-right: 93px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--active-color);
}

.header-rigth-logo {
    color: #000000;
}

.menu {
    display: flex;
}

.menu li:not(:last-child),
.contacts-list li:not(:last-child) {
    margin-right: 50px;
}

.menu-link {
    position: relative;
    padding-top: 33px;
    padding-bottom: 33px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;

    transition: color var(--transition-durat-and-func);
}

.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.current {
    color: var(--active-color);
}

.menu-link.current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--active-color);
    border-radius: 2px;
}

.contacts-list {
    display: flex;
    margin-left: auto;
}

.contacts-link {
    display: flex;
    align-items: center;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--second-color);

    padding-top: 32px;
    padding-bottom: 32px;

    transition: color var(--transition-durat-and-func);
}

.contacts-email-icon,
.contacts-smartfone-icon {
    margin-right: 10px;
    fill: currentColor;
}
/* ######### HEADER END ######### */

/* ######### STUDIO MAIN START ######### */
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("../images/hero-background.jpg");
    background-position: center;
    background-size: cover;

    background-color:var(--light-background-color);
    padding: 200px 0;
}

.hero-title {
    margin: inherit;
    margin-bottom: 30px;
    width: 696px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--third-color);
}
.hero-btn {
    margin: 0 auto;
    display: block;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--third-color);
    background: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    padding: 10px 32px;

    transition: background var(--transition-durat-and-func);
}

.hero-btn:hover, .hero-btn:focus {
    background:var(--hero-button-background-active-color);
}

/* Особливості */

.features-list {
    display: flex;
}

.features-item {
    width: 270px;
}

.feature-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--fourth-color);
    border-radius: 4px;
}

.features-item:not(:last-child) {
    margin-right: 30px;
}

.feature-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-top: 30px;
    margin-bottom: 10px;
}

.feature-description {
    line-height: 1.7;
    color: var(--second-color);
    margin: 0;
}

/* Чим ми займаємося */
.services {
    padding-top: 0px;
}

.services-title {
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    margin-bottom: 50px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
}

.service-item:not(:last-child) {
    margin-right: 30px;
} 
.service-item {
    position: relative;
}

.service-item-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--third-color);
}

/* Наша команда */
.team {
    background-color: var(--fourth-color);
}

.team-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.team-card {
    background-color: var(--third-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card-img {
    border-radius: 0px;
}

.team-card-title {
    padding: 30px 0px;
}

.team-card-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-card-work-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--second-color);
    margin:inherit;
    padding-top: 10px;
    padding-bottom: 16px;
}

/* Social link */

.social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color var(--transition-durat-and-func);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--active-color);
}

.social-list-icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    background-color: var(--third-color);

    transition: fill var(--transition-durat-and-func), background-color var(--transition-durat-and-func);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: var(--third-color);
    background-color: var(--active-color);
}

/* Постійні клієнти */
.clients-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    gap: 30px;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid var(--icon-color);

    transition: border-color var(--transition-durat-and-func);
}

.client-icon {
    fill: var(--icon-color);
    width: 106px;
    height: 60px;

    transition: fill var(--transition-durat-and-func);
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--active-color);
}

.clients-link:hover .client-icon,
.clients-link:focus .client-icon {
    fill: var(--active-color);
}
/* ######### STUDIO MAIN END ######### */

/* ######### FOOTER START ######### */
.page-footer {
    background-color: var(--dark-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-box {
    display: flex;
    align-items: baseline;
    gap: 70px;
}

.footer-rigth-logo {
    color: var(--third-color);
}

.address-contacts {
    margin-top: 20px;
}

.address-list {
    font-style: normal;
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-map-link {
    line-height: 1.7;
    color: var(--third-color);
}

.address-link:hover,
.address-link:focus {
    color: var(--active-color);
}

.address-link {
    line-height: 1.7;
    color: var(--address-link-color);
    transition: color var(--transition-durat-and-func);
}

/* Footer social-link */

.footer-social-box-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--third-color);
    margin-bottom: 20px;
}

.footer-social-list-item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-list-link {
    transition: background-color var(--transition-durat-and-func);
}


.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: var(--active-color);
}

.footer-social-list-icon {
    width: 20px;
    height: 20px;
    fill: var(--third-color);
}

/* subscribe */

.form-subscribe {
    align-items: flex-end;

    display: flex;
    margin-left: auto;
}

.subscribe-title {
    display: block;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--third-color);
    margin-bottom: 20px;
}

.subscribe-input-email {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    background-color: var(--dark-background-color);
    margin-right: 12px;
    color: var(--third-color);
    padding-left: 16px;
    transition: border-color var(--transition-durat-and-func);
}

.subscribe-input-email::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
}

.subscribe-input-email:focus {
    border-color: var(--active-color);
    outline: none;
}

.subscribe-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    width: 200px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--third-color);
    background-color: var(--active-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;

    padding: 10px 28px;
    transition: background-color var(--transition-durat-and-func);
}

.subscribe-btn-icon {
    margin-left: 10px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: var(--hero-button-background-active-color);
}

/* ######### FOOTER END ######### */

/* ######### MODAL START ######### */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity var(--transition-durat-and-func), visibility var(--transition-durat-and-func);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: var(--third-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--third-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}

.modal-close-icon {
    fill: #000000;
    transition: fill var(--transition-durat-and-func);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: var(--active-color);
}

/* FORM */
.modal-form {
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
}

.modal-form-title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;
}

.modal-form-field {
    margin-bottom: 10px;
}

.modal-form-field-desk {
    display: block;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--second-color);
    margin-bottom: 4px;
}

.modal-form-input-wrapper {
    position: relative;
}

.modal-form-icons {
    fill: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);

    transition: fill var(--transition-durat-and-func);
}

.modal-form-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    width: 100%;
    padding: 0;
    padding-left: 42px;

    transition: border-color var(--transition-durat-and-func);
}

.modal-form-field-comment {
    margin-bottom: 20px;
    /* height: 138px; */
}

.modal-form-input:focus,
.modal-form-comment:focus {
    border-color: var(--active-color);
    outline: none;
}

.modal-form-input:focus + .modal-form-icons {
    fill: var(--active-color);
}

.modal-form-comment::placeholder {
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment {
    display: block;
    resize: none;
    height: 120px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
}

.modal-form-check-field {
    display: flex;
    align-items: center;
    align-self: center;
    
    line-height: 1.71;
    color: var(--second-color);
    margin-bottom: 30px;
}

.modal-form-check:checked + .modal-form-checkbox {
    background-color: var(--active-color);
    border-color: var(--active-color);
}

.modal-form-check:checked + .modal-form-checkbox .modal-form-checkbox-icon {
    display: block;
}

.modal-form-check:focus + .modal-form-checkbox {
    /* box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.8); */
    box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.8);
    border-color: var(--active-color);
}

.modal-form-checkbox {
    border: 2px solid var(--primary-color);
    border-radius: 3px;
    cursor: pointer;
    margin-right: 7px;
}

.modal-form-checkbox-icon {
    display: none;
    fill: var(--third-color);
}

.modal-form-check-link {
    color: var(--active-color);
}

.modal-send-btn {
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    
    align-self:center;
    text-align: center;

    color: var(--third-color);
    background-color: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;

    transition: background-color var(--transition-durat-and-func);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
    background-color: var(--hero-button-background-active-color)
}

/* ######### MODAL END ######### */

/* ######### MAIN PORTFOLIO START ######### */
.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.filter-btn {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color:inherit;
    background: var(--fourth-color);
    border-radius: 4px;
    border: 0;

    transition: color var(--transition-durat-and-func), background var(--transition-durat-and-func), box-shadow var(--transition-durat-and-func);
}
.filter-first-btn {
    padding: 6px 25px;
}

.filter-btn:hover,
.filter-btn:focus,
.current-btn {
    color: var(--third-color);
    background: var(--active-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
    display:flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-group {
    background: var(--third-color);
    border: 1px solid #EEEEEE;
    width:calc((100% - 60px) / 3);
}

.project-link {
    display: block;

    transition: box-shadow var(--transition-durat-and-func);
}

.project-img {
    width: calc(100%);
}

.project-link:hover,
.project-link:focus,
.project-link:hover .project-card-overlay,
.project-link:focus .project-card-overlay {
    transform: translateY(0%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link-img-wrapper {
    position: relative;
    overflow: hidden;
}

.project-card-overlay {
    position: absolute;
    display: flex;
    align-items:center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    padding: 0px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--third-color);

    overflow: auto;
    transform: translateY(100%);
    transition: transform var(--transition-durat-and-func);
}

.project-name {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--primary-color);
}

.project-group p {
    margin: 0;
}
.project-title {
    padding: 20px 24px;
}


.project-type {
    font-size: 16px;
    line-height: 1.875;
    color: var(--second-color);
}
/* ######### MAIN PORTFOLIO END ######### */