.page-footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.footer-rigth-logo {
  color: var(--third-color);
}

.address-contacts {
  margin-top: 20px;
}

.address-list {
  font-style: normal;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-map-link {
  line-height: 1.7;
  color: var(--third-color);
}

.address-link {
  line-height: 1.7;
  color: var(--address-link-color);
  transition: color var(--transition-durat-and-func);

  &:hover,
  &:focus {
    color: var(--active-color);
  }
}

/* Footer social-link */

.footer-social-box-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-color);
  margin-bottom: 20px;
}

.footer-social-list-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-list-link {
  transition: background-color var(--transition-durat-and-func);

  &:hover,
  &:focus {
    background-color: var(--active-color);
  }
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--third-color);
}
