.team {
    background-color: var(--fourth-color);
}

.team-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.team-card {
    background-color: var(--third-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card-img {
    border-radius: 0px;
}

.team-card-title {
    padding: 30px 0px;
}

.team-card-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-card-work-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--second-color);
    margin: inherit;
    padding-top: 10px;
    padding-bottom: 16px;
}